.button {
  width: 250px;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 10px 40px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: $coral;
  cursor: pointer;

  &:hover {
    background-color: $orange;
  }

  &:active {
    background-color: $orange;
  }

  &--with-icon {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  &--wider {
    width: 340px;

    @media (max-width: $tablet-width) {
      width: 250px;
    }

    @media (max-width: $mobile-width) {
      width: 288px;
    }
  }

  @media (max-width: $tablet-width) {
    height: 50px;
    font-size: 10px;
    line-height: 12px;
  }
}
