.button {
  width: 250px;
  display: block;
  padding: 30px 40px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: $coral;
  cursor: pointer;

  &:hover {
    background-color: $orange;
  }

  &:active {
    background-color: $orange;
  }

  &--with-icon {
    text-align: left;
  }

  &--wider {
    width: 340px;
  }
}
