.comment {
  width: 60%;
  display: flex;
  margin-top: -10px;

  background: url("../img/greece-big-desktop@1x.jpg") no-repeat 0 0;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/greece-big-desktop@2x.jpg");
    background-size: 430px auto;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.4px;
    margin-top: 12px;
    margin-bottom: 30px;

    &::before {
      content: "";
      width: 68px;
      display: block;
      border-top: 1px solid $coral;
      margin-bottom: 20px;

      @media (max-width: $mobile-width) {
        @include wrapper;
      }
    }

    @media (max-width: $mobile-width) {
      text-align: center;
      margin-bottom: 17px;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 0;

    @media (max-width: $tablet-width) {
      margin-top: 0;
    }

    @media (max-width: $mobile-width) {
      margin: 1px auto 0 auto;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.7px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 415px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 415px;
      background-size: cover;
      z-index: 0;
    }

    background: none;
  }

  &--greece {
    background-image: url("../img/greece-big-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/greece-big-desktop@2x.jpg");
      background-size: 430px auto;
    }

    @media (max-width: $tablet-width) {
      background: none;

      &::before {
        background-image: url("../img/greece-big-tablet@1x.jpg") no-repeat 0 0;

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/greece-big-tablet@2x.jpg");
          background-size: 1024px auto;
        }
      }
    }

    @media (max-width: $mobile-width) {
      &::before {
        background-image: url("../img/greece-big-mobile@1x.jpg");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/greece-big-mobile@2x.jpg");
          background-size: 768px auto;
        }
      }
    }
  }

  &--albania {
    background-image: url("../img/albania-big-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/albania-big-desktop@2x.jpg");
      background-size: 430px auto;
    }

    @media (max-width: $tablet-width) {
      background: none;

      &::before {
        background-image: url("../img/albania-big-tablet@1x.jpg");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/albania-big-tablet@2x.jpg");
          background-size: 1024px auto;
        }
      }
    }

    @media (max-width: $mobile-width) {
      &::before {
        background-image: url("../img/albania-big-mobile@1x.jpg");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/albania-big-mobile@2x.jpg");
          background-size: 768px auto;
        }
      }
    }
  }

  &--makedonia {
    background-image: url("../img/makedonia-big-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/makedonia-big-desktop@2x.jpg");
      background-size: 430px auto;
    }

    @media (max-width: $tablet-width) {
      background: none;

      &::before {
        background-image: url("../img/makedonia-big-tablet@1x.jpg");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/makedonia-big-tablet@2x.jpg");
          background-size: 1024px auto;
        }
      }
    }

    @media (max-width: $mobile-width) {
      &::before {
        background-image: url("../img/makedonia-big-mobile@1x.jpg");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/makedonia-big-mobile@2x.jpg");
          background-size: 768px auto;
        }
      }
    }
  }

  &--crnagora {
    background-image: url("../img/crnagora-big-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/crnagora-big-desktop@2x.jpg");
      background-size: 430px auto;
    }

    @media (max-width: $tablet-width) {
      background: none;

      &::before {
        background-image: url("../img/crnagora-big-tablet@1x.jpg");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/crnagora-big-tablet@2x.jpg");
          background-size: 1024px auto;
        }
      }
    }

    @media (max-width: $mobile-width) {
      &::before {
        background-image: url("../img/crnagora-big-mobile@1x.jpg");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/crnagora-big-mobile@2x.jpg");
          background-size: 768px auto;
        }
      }
    }
  }

  &--croatia {
    background-image: url("../img/croatia-big-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/croatia-big-desktop@2x.jpg");
      background-size: 430px auto;
    }

    @media (max-width: $tablet-width) {
      background: none;

      &::before {
        background-image: url("../img/croatia-big-tablet@1x.jpg");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/croatia-big-tablet@2x.jpg");
          background-size: 1024px auto;
        }
      }
    }

    @media (max-width: $mobile-width) {
      &::before {
        background-image: url("../img/croatia-big-mobile@1x.jpg");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/croatia-big-mobile@2x.jpg");
          background-size: 768px auto;
        }
      }
    }
  }
}

.comment__container {
  width: 54%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-left: auto;
  margin-top: 83px;
  padding: 30px;
  background-color: $white;

  @media (max-width: $tablet-width) {
    width: 382px;
    position: relative;
    margin: 80px auto 0 auto;
    z-index: 1;
  }

  @media (max-width: $mobile-width) {
    width: 268px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 30px 20px;
  }
}

.comment__avatar {
  margin-right: 13px;

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.comment__author {
  align-self: center;
  position: relative;
  top: 3px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -1px;
}
