.form-fieldset {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 19px 0;
  border: none;

  &--vertical {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    width: 288px;

    @include wrapper;
    flex-direction: column;
  }
}

.form-fieldset__field {
  display: flex;
  width: calc((100% - 20px) / 2);
  margin-right: 20px;
  position: relative;
  border: 1px solid $blackOp;

  &:last-child {
    margin-right: 0;
  }

  input {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 14px;
    line-height: 17px;
    border: none;
    order: 1;
    outline: none;
    background-color: $white;

    &::placeholder {
      color: $black--dark;
    }

    &:focus {
      border-bottom: 1px solid $orange;
    }

    &:invalid {
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: $coral;
    }
  }


  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--vertical {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-fieldset__field-icon {
  display: flex;
  text-align: center;
  order: 0;
  background-color: $white;
}

.form-fieldset__field input[type="tel"] {
  padding-left: 0;
}

input[type="tel"] ~ .form-fieldset__field-icon {
  &::after {
    content: "+7";
    color: $black--dark;
    padding-left: 6px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 17px;
    display: block;
    align-self: center;
  }
}

input:required ~ .form-fieldset__field-icon {
  &::before {
    content: "*";
    color: $coral;
    padding-left: 15px;
    display: block;
    position: relative;
    top: 4px;
  }
}

input:invalid ~ .form-fieldset__field-icon {
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: $coral;
}
