.tours {
  width: 100%;
  margin-top: 200px;
  max-width: 1180px;
  padding: 0 5px;

  @include wrapper;

  h2 {
    width: 350px;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    letter-spacing: -1.245px;
    margin-bottom: 28px;

    @media (max-width: $tablet-width) {
      width: 100%;
      margin-bottom: 21px;
      font-size: 30px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0.1px;
    }

    @media (max-width: $mobile-width) {
      font-size: 24px;
      line-height: 150%;
    }
  }

  p {
    width: 350px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.466667px;

    &::before {
      content: "";
      width: 228px;
      display: block;
      border-top: 4px solid $coral;
      margin-bottom: 30px;
    }

    @media (max-width: $tablet-width) {
      width: 60%;
      margin: 0 auto 10px auto;
      text-align: center;

      &::before {
        content: none;
      }
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 615px;
    margin-top: 80px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    padding: 0;
    margin-top: 110px;
  }
}

.tours__cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  @include clear-ul;
  margin-top: -44px;

  li {
    width: calc((100% - 120px) / 3);
    margin-top: 100px;

    &:nth-child(5n+4) {
      margin-left: 175px;
    }

    &:nth-child(5n+5) {
      margin-right: 175px;
    }

    @media (max-width: $tablet-width) {
      width: calc((100% - 30px) / 2);
      margin-top: 20px;

      &:nth-child(5n+4) {
        margin-left: 0;
      }

      &:nth-child(5n+5) {
        margin: 30px auto 0 auto;
      }
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      padding: 0 16px;
      margin-top: 30px;

      &:nth-child(5n+4) {
        margin-left: 0;
        margin-top: 69px;
      }

      &:nth-child(5n+5) {
        margin-right: 0;
        margin-top: 69px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  @media (max-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 20px;
  }
}

.tours__card {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  color: $black;
  text-decoration: none;

  img {
    width: 100%;
  }

  &:visited {
    color: $black;
  }

  &::after {
    width: 215px;
    height: 62px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 107px);
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 16px 0 17px 0;
    background-color: $white;
  }

  &--greece {
    &::after {
      content: "Греция";
    }
  }

  &--albania {
    &::after {
      content: "Албания";
    }
  }

  &--makedonia {
    &::after {
      content: "Македония";
    }
  }

  &--crnagora {
    &::after {
      content: "Черногория";
    }
  }

  &--croatia {
    &::after {
      content: "Хорватия";
    }
  }
}

.tours__title {
  width: 215px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 16px 0 17px 0;
  background-color: $white;
}
