.tour-price-cards {
  h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}

.tour-price-cards__features {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}


