.tour {
  display: none;
  justify-content: space-between;
  margin-top: 80px;
  padding-top: 10px;

  &--show {
    display: flex;
  }

  @media (max-width: $tablet-width) {
    margin-top: 25px;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    margin-top: 15px;
  }
}

.tour__description {
  width: 32%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  p {
    margin-top: 0;
    margin-bottom: 50px;
    letter-spacing: -0.4px;

    &::before {
      content: "";
      width: 175px;
      display: block;
      border-top: 3px solid $coral;
      margin-bottom: 30px;
    }

    @media (max-width: $tablet-width) {
      padding: 0 20px;
      margin-bottom: 20px;
      text-align: center;
      letter-spacing: -0.5px;

      &::before {
        content: none;
      }
    }
  }

  h3 {
    font-weight: 600;
    font-size: 55px;
    line-height: 88px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 18px;

    @media (max-width: $tablet-width) {
      text-align: center;
      font-size: 30px;
      line-height: 1.5;
    }

    @media (max-width: $mobile-width) {
      font-size: 24px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 60px;
  }
}

.tour__buy-button {
  width: 250px;
  justify-content: center;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}
