$white: #ffffff;
$black: #2c2e3f;
$black--dark: #141517;
$black--darken: #48494d;
$coral: #fe7865;
$orange: #f17d4b;
$gray: #fbf8f8;
$gray--darken: #d7d9df;
$whiteOp: rgba($white, 0.3);
$blackOp: rgba($black, 0.3);
$mountain-blue: #5b87ac;
