$white: #ffffff;
$black: #111111;
$tundora: #444444;
$gray--darken: #d9d9d9;
$gray--border: #cdcdcd;
$gray--diabolic: #666666;
$mercury: #e6e6e6;
$mercury-border: #ededed;
$concrete: #f2f2f2;
$concrete-gallery: #eaeaea;
$concrete--darken: #ebebeb;
$green: #68b738;
$green--lighten: #63a73a;
$green--darken: #5eaa2f;
$whiteOp: rgba($white, 0.3);
$tundoraOp: rgba($tundora, 0.3);
$error: #ff8282;
